<h1 class="text-3xl">Sobre la aplicación</h1>
<hr />

<section>
  <p class="mb-4">
    Nisi consequat esse voluptate aliquip anim fugiat veniam elit. In duis
    consequat consectetur quis ipsum deserunt occaecat velit do et. In ut
    deserunt magna do amet. Eiusmod anim dolor aute esse laborum exercitation
    ullamco commodo officia culpa duis minim irure. Mollit sunt deserunt
    excepteur reprehenderit amet id veniam ut nostrud. Amet est minim excepteur
    qui qui aliquip. Consequat dolore commodo labore proident occaecat aute
    laborum sint eu dolor velit ipsum cillum.
  </p>
</section>
